/** CSS RESET **/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    vertical-align: baseline;
    box-sizing: border-box !important;
    outline: none;
    outline-width: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ul, ol { list-style-type: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/********************************************************************************* ШРИФТЫ ***/
// todo Добавить все кирилические шрифты GoogleFonts сюда и закомментировать

//@import url(https://fonts.googleapis.com/css?family=Roboto:400,700italic&subset=latin,cyrillic);
//@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700italic&subset=latin,cyrillic);


// @font-face {
//   font-family: "Century751";
//   src: local("Century751"),
//       url("../fonts/century751-sebd-bt-semi-bold.ttf");
// }
// .Century751 {
//  font-family: "Century751";
//  font-weight: normal;
// }

/*************************************************************************** DEFAULT CSS ***/
h1, h2, h3, h4, h5, h6 { font-size: inherit; }

.hide { display: none; }
.clear { clear: both; }

strong, b { font-weight: bold; }
em { font-style: italic; }

#default-article-style {
    font-size: 14px;

    p, ul, ol, table, hr {
        margin: 0px 0px 10px 0px;
    }
    ul, ol {
        padding: 0px 0px 0px 30px;
    } 
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: number;
    }
    table {
        th, td {
            padding: 5px;
            border: 1px solid #E4E4E4;
        }
    }
    hr {
        height: 1px;
        background: #E4E4E4;
    }
}

/********************************************************************************** BODY ***/

/** Максимальная ширина сайта **/
@site-width: 1100px;

/** Минимальная ширина сайта **/
@min-site-width: 320px;

/** Ширина левой колонки **/
@left-sidebar-width: 270px;

/** Ширина правой колонки **/
@right-sidebar-width: 0px;

/** Ширина области контента - вычисляеться автоматически (не используеться) **/
@content-width: @site-width - @left-sidebar-width - @right-sidebar-width;

/** 
  * Верстка сайта разбита на горизонтальные уровни (например: #header, #main, #footer)
  * Идентификатор (id) уровня может быть любым, его название не влияет на верстку
  * Внутри уровня обязательный вложенный блок .wrapper
  * Стили далее отражают сказанное выше...
**/
body > * > .wrapper {
    width: @site-width;
    max-width: 100%;
    min-width: @min-site-width;
    margin: 0px auto;
    overflow: hidden;
    clear: both;
    
    /** Отступ от границ блоков **/
    > * {
        padding: 5px;
        background: #FFF;
    }
    
    /** Временное выделение границ блоков **/
    * {
        //border: 1px solid #666;
    }
}
/** 
 * Уровень #main делиться на колонки: #left-col, #center-col, #right-col
**/
#right-col, #center-col {
    padding: 5px;
    vertical-align: top;
	margin: 0px auto;
}
#left-col {
    float: left;    
}
#right-col {
    float: right;    
}
#center-col {
    // width: @content-width + @left-sidebar-width + @right-sidebar-width;
    max-width: 100%;
    min-width: @min-site-width;

    padding: 5px;
    vertical-align: top;
    overflow: hidden;
    min-height: 500px;
}
/**
  * В зависимости от количества колонок на сайте, 
  * необходимо раскомментировать или закомментировать
  * соответствующий код ниже
  *
/************************************************************** только центральная колонка ***/
// #right-col {
//     display: none;
// }
// #left-col {
//     display: none;
// }
// #center-col {
//   width: @content-width + @right-sidebar-width + @left-sidebar-width; 
// }
/************************************************************* левая и центральная колонки ***/
#left-col {
    width: @left-sidebar-width;
}
#center-col {
  max-width: @content-width + @right-sidebar-width; 
}
#right-col {
    display: none;
}
/************************************************************ правая и центральная колонки ***/
// #right-col {
//     width: @right-sidebar-width;
// }
// #center-col {
//   width: @content-width + @left-sidebar-width; 
// }
// #left-col {
//     display: none;
// }
/***************************************************** правая, левая и центральная колонки ***/
// #right-col {
//     width: @right-sidebar-width;
// }
// #center-col {
//     width: @content-width;
// } 
// #left-col {
//     width: @left-sidebar-width;
// }
/*********************************************************************************************/
/**************************************************************************** for new site ***/
body {
    font-family: Trebuchet MS, Arial, sans-serif;
    font-size: 16px;
    background: #E6E6E6;
    color: #333;
}
/** HEADER **/
#header {
    
    > div {
     
        div#logo {
            float: left;
        }
        ul#top-menu {
            float: left;
            
            > li {
                display: inline-block;
                vertical-align: top;
                
                
            }
            a {
                padding: 10px;    
            }
            
        }
        div.top-search {
            float: right;
        }
    }
}
#center-col {

    #default-article-style;
}

/** FOOTER **/
#footer > .wrapper {
    
    > * {
        width: 25%;
        float: left;
        min-width: @site-width/4;
    }
}
